VITE_PUBLIC_API_URL="http://localhost:8080"

VITE_DIFY_API_KEY="app-Go2DBhyyY6pL3S6l7bpxrmf1"
VITE_DIFY_BASE_URL="https://api.dify.ai/v1"

# Deployed Backend
# VITE_PUBLIC_API_URL="https://trl-research-backend-325350196988.asia-southeast1.run.app"